.hometext {
  color: white;
  font-size: 48px;
  font-family: "FolkPro", monospace;
  padding-left: 7px;
  line-height: 1;
}

@media (max-width: 800px) {
  .hometext {
    font-size: 32px;
  }
  #cursor {
    margin-left: "-5px";
  }
}

.text {
  color: white;
  font-size: 24px;
  padding: 10px;
  font-family: "FolkPro", monospace;
}

.content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header {
  padding: 0 8px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 20;
}

.back {
  position: absolute;
  top: 12px;
  left: 12px;
  color: white;
  font-size: 20px;
  font-family: "FolkPro", monospace;
}

.buttons {
  min-width: 40px;
  padding: 20px;
}

.button {
  width: 100%;
  padding: 10px;
  margin: 10px auto;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 16px;
  background-color: transparent;
  cursor: pointer;
  color: white;
  font-family: "Courier New", monospace;
  font-weight: 600;
}

.button:hover {
  background-color: white;
  color: black;
}

.link {
  color: inherit;
  border-bottom: 1px solid white;
  text-decoration: none;
}

.background {
  background: linear-gradient(27deg, #90ee90, #18453b, #013220);
  background-size: 200% 200%;
  position: fixed;
  z-index: -1;
  animation: gradient 12s ease infinite;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

@keyframes gradient {
  0% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 100% 0%;
  }
}

.rightpanel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 100vh;
  position: absolute;
  right: 0;
}

.iconRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin-top: 3rem;
}

.galleryContainer {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3rem;
}

.galleryRow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  gap: 20px;
}

.iconButtonImage {
  width: auto;
  height: auto;
}

.iconButton {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  background-color: white;
  transition: all 0.3s ease;
}

.galleryButton {
  width: 128px;
  height: 128px;
}

.iconButton:hover {
  transform: scale(1.1);
}

@media (max-width: 1400px) {
  .rightpanel {
    width: 100vw;
  }
  .hometext {
    font-size: 36px;
  }
  .iconRow {
    width: 95%;
  }
  .iconButton {
    width: 40px;
    height: 40px;
  }
  .iconButtonImage {
    transform: scale(0.75);
  }
  .galleryButton {
    width: 110px;
    height: 110px;
  }
  .galleryContainer {
    width: 90%;
  }
}

.cover {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
